.card-title, .card-text{
    font-family: 'Poppins';
    font-size: 16px;
    font-weight:500;
    margin: 0;
    padding-top: 10px;
    padding-left: 10px;
}

.main-container {
padding-bottom: 50px;
}

@media (min-width: 769px) {  
     .main-container { 
        height: fit-content;
        }
}

.custom {
    width: 90%;
    margin-top: 50px;
}

@media (min-width: 769px) {  
    .custom { 
        width: 55%; 
        max-width: 55%;
        margin-top: 50px;
        padding-bottom: 50px;
        background-color: rgba(0, 255, 255, 0);
       }
}

.cover {
display: none;
}

@media (min-width: 769px) {  
    .cover { 
       display: block;
       }
}

.circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

@media (min-width: 769px) {  
    .circle { 
       display: none;
       }
}

.photo{
    height: 150px;
    width: 150px;
}

.back-color {
    background-color: rgb(243, 243, 252);
}

img {
max-width: 100%; 
height: auto;
transition: opacity 0.5s ease;
&:hover {
    opacity: 0.5;
}
}


@keyframes hero-gradient-animation {
    0% {
        --s-start-0: 7%;
        --s-end-0: 74%;
        --c-0: hsla(291, 75%, 78%, 1);
        --y-0: 4%;
        --x-0: 66%;
        --x-1: 51%;
        --y-1: 49%;
        --c-1: hsla(237, 70%, 80%, 1);
        --s-start-1: 2%;
        --s-end-1: 54%;
        --c-2: hsla(318, 88%, 58%, 1);
        --x-2: 23%;
        --y-2: 97%;
        --s-start-2: 10%;
        --s-end-2: 58%;
        --s-start-3: 19%;
        --s-end-3: 67%;
        --c-3: hsla(338, 58%, 95%, 1);
        --x-3: 58%;
        --y-3: 60%;
        --s-start-4: 14%;
        --s-end-4: 71%;
        --c-4: hsla(331, 58%, 58%, 1);
        --x-4: 72%;
        --y-4: 22%;
        --x-5: 88%;
        --c-5: hsla(341, 80%, 95%, 1);
        --y-5: 42%;
        --s-start-5: 2%;
        --s-end-5: 64%;
        --y-6: 14%;
        --x-6: 52%;
        --c-6: hsla(244, 90%, 79%, 1);
        --s-start-6: 1%;
        --s-end-6: 69%;
        --c-7: hsla(295, 73%, 97%, 1);
        --s-start-7: 3%;
        --s-end-7: 79%;
        --y-7: 20%;
        --x-7: 15%;
        --x-8: 7%;
        --y-8: 51%;
        --s-start-8: 13%;
        --s-end-8: 51%;
        --c-8: hsla(303, 54%, 86%, 1);
        --c-9: hsla(240, 85%, 76%, 1);
        --s-start-9: 5%;
        --s-end-9: 87%;
        --x-9: 10%;
        --y-9: 29%;
    }

    50% {
        --s-start-0: 11%;
        --s-end-0: 68%;
        --c-0: hsla(225, 66%, 61%, 1);
        --y-0: 16%;
        --x-0: 60%;
        --x-1: 1%;
        --y-1: 8%;
        --c-1: hsla(218, 84%, 80%, 1);
        --s-start-1: 12%;
        --s-end-1: 55%;
        --c-2: hsla(222, 55%, 59%, 1);
        --x-2: 80%;
        --y-2: 36%;
        --s-start-2: 15%;
        --s-end-2: 84%;
        --s-start-3: 10%;
        --s-end-3: 74%;
        --c-3: hsla(283, 58%, 60%, 1);
        --x-3: 22%;
        --y-3: 19%;
        --s-start-4: 16%;
        --s-end-4: 74%;
        --c-4: hsla(215, 96%, 52%, 1);
        --x-4: 42%;
        --y-4: 15%;
        --x-5: 19%;
        --c-5: hsla(210, 99%, 55%, 1);
        --y-5: 61%;
        --s-start-5: 11%;
        --s-end-5: 50%;
        --y-6: 1%;
        --x-6: 15%;
        --c-6: hsla(210, 92%, 90%, 1);
        --s-start-6: 1%;
        --s-end-6: 73%;
        --c-7: hsla(341, 64%, 80%, 1);
        --s-start-7: 4%;
        --s-end-7: 66%;
        --y-7: 18%;
        --x-7: 65%;
        --x-8: 25%;
        --y-8: 56%;
        --s-start-8: 9%;
        --s-end-8: 70%;
        --c-8: hsla(343, 64%, 92%, 1);
        --c-9: hsla(203, 82%, 77%, 1);
        --s-start-9: 6%;
        --s-end-9: 60%;
        --x-9: 19%;
        --y-9: 16%;
    }

    100% {
        --s-start-0: 19%;
        --s-end-0: 71%;
        --c-0: hsla(343, 79%, 95%, 1);
        --y-0: 49%;
        --x-0: 95%;
        --x-1: 20%;
        --y-1: 11%;
        --c-1: hsla(260, 80%, 95%, 1);
        --s-start-1: 2%;
        --s-end-1: 88%;
        --c-2: hsla(207, 93%, 57%, 1);
        --x-2: 10%;
        --y-2: 11%;
        --s-start-2: 0%;
        --s-end-2: 77%;
        --s-start-3: 0%;
        --s-end-3: 56%;
        --c-3: hsla(289, 65%, 65%, 1);
        --x-3: 57%;
        --y-3: 81%;
        --s-start-4: 5%;
        --s-end-4: 83%;
        --c-4: hsla(221, 68%, 82%, 1);
        --x-4: 40%;
        --y-4: 78%;
        --x-5: 100%;
        --c-5: hsla(199, 56%, 50%, 1);
        --y-5: 62%;
        --s-start-5: 8%;
        --s-end-5: 69%;
        --y-6: 97%;
        --x-6: 18%;
        --c-6: hsla(278, 86%, 65%, 1);
        --s-start-6: 0%;
        --s-end-6: 67%;
        --c-7: hsla(190, 61%, 76%, 1);
        --s-start-7: 3%;
        --s-end-7: 54%;
        --y-7: 40%;
        --x-7: 27%;
        --x-8: 29%;
        --y-8: 17%;
        --s-start-8: 5%;
        --s-end-8: 61%;
        --c-8: hsla(307, 63%, 97%, 1);
        --c-9: hsla(272, 53%, 79%, 1);
        --s-start-9: 12%;
        --s-end-9: 51%;
        --x-9: 57%;
        --y-9: 86%;
    }
}

@property --s-start-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 7%
}

@property --s-end-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 74%
}

@property --c-0 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(291, 75%, 78%, 1)
}

@property --y-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 4%
}

@property --x-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 66%
}

@property --x-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 51%
}

@property --y-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 49%
}

@property --c-1 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(237, 70%, 80%, 1)
}

@property --s-start-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 2%
}

@property --s-end-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 54%
}

@property --c-2 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(318, 88%, 58%, 1)
}

@property --x-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 23%
}

@property --y-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 97%
}

@property --s-start-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 10%
}

@property --s-end-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 58%
}

@property --s-start-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 19%
}

@property --s-end-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 67%
}

@property --c-3 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(338, 58%, 95%, 1)
}

@property --x-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 58%
}

@property --y-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 60%
}

@property --s-start-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 14%
}

@property --s-end-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 71%
}

@property --c-4 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(331, 58%, 58%, 1)
}

@property --x-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 72%
}

@property --y-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 22%
}

@property --x-5 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 88%
}

@property --c-5 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(341, 80%, 95%, 1)
}

@property --y-5 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 42%
}

@property --s-start-5 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 2%
}

@property --s-end-5 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 64%
}

@property --y-6 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 14%
}

@property --x-6 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 52%
}

@property --c-6 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(244, 90%, 79%, 1)
}

@property --s-start-6 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 1%
}

@property --s-end-6 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 69%
}

@property --c-7 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(295, 73%, 97%, 1)
}

@property --s-start-7 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 3%
}

@property --s-end-7 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 79%
}

@property --y-7 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 20%
}

@property --x-7 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 15%
}

@property --x-8 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 7%
}

@property --y-8 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 51%
}

@property --s-start-8 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 13%
}

@property --s-end-8 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 51%
}

@property --c-8 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(303, 54%, 86%, 1)
}

@property --c-9 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(240, 85%, 76%, 1)
}

@property --s-start-9 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 5%
}

@property --s-end-9 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 87%
}

@property --x-9 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 10%
}

@property --y-9 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 29%
}

body {
    --c-0: hsla(291, 75%, 78%, 1);
    --y-0: 4%;
    --x-0: 66%;
    --x-1: 51%;
    --y-1: 49%;
    --c-1: hsla(237, 70%, 80%, 1);
    --c-2: hsla(318, 88%, 58%, 1);
    --x-2: 23%;
    --y-2: 97%;
    --c-3: hsla(338, 58%, 95%, 1);
    --x-3: 58%;
    --y-3: 60%;
    --c-4: hsla(331, 58%, 58%, 1);
    --x-4: 72%;
    --y-4: 22%;
    --x-5: 88%;
    --c-5: hsla(341, 80%, 95%, 1);
    --y-5: 42%;
    --y-6: 14%;
    --x-6: 52%;
    --c-6: hsla(244, 90%, 79%, 1);
    --c-7: hsla(295, 73%, 97%, 1);
    --y-7: 20%;
    --x-7: 15%;
    --x-8: 7%;
    --y-8: 51%;
    --c-8: hsla(303, 54%, 86%, 1);
    --c-9: hsla(240, 85%, 76%, 1);
    --x-9: 10%;
    --y-9: 29%;
    ;
    background-color: hsla(289, 74%, 88%, 1);
    background-image: radial-gradient(circle at var(--x-0) var(--y-0), var(--c-0) var(--s-start-0), transparent var(--s-end-0)), radial-gradient(circle at var(--x-1) var(--y-1), var(--c-1) var(--s-start-1), transparent var(--s-end-1)), radial-gradient(circle at var(--x-2) var(--y-2), var(--c-2) var(--s-start-2), transparent var(--s-end-2)), radial-gradient(circle at var(--x-3) var(--y-3), var(--c-3) var(--s-start-3), transparent var(--s-end-3)), radial-gradient(circle at var(--x-4) var(--y-4), var(--c-4) var(--s-start-4), transparent var(--s-end-4)), radial-gradient(circle at var(--x-5) var(--y-5), var(--c-5) var(--s-start-5), transparent var(--s-end-5)), radial-gradient(circle at var(--x-6) var(--y-6), var(--c-6) var(--s-start-6), transparent var(--s-end-6)), radial-gradient(circle at var(--x-7) var(--y-7), var(--c-7) var(--s-start-7), transparent var(--s-end-7)), radial-gradient(circle at var(--x-8) var(--y-8), var(--c-8) var(--s-start-8), transparent var(--s-end-8)), radial-gradient(circle at var(--x-9) var(--y-9), var(--c-9) var(--s-start-9), transparent var(--s-end-9));
    animation: hero-gradient-animation 10s linear infinite alternate;
    background-blend-mode: normal, normal, normal, normal, normal, normal, normal, normal, normal, normal;
}